@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media (max-width: 24em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 31.25em) {
      @content;
    } //500px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } ///1200px
  }
  @if $breakpoint == xl-screen {
    @media (min-width: 125em) {
      @content;
    } //2000+ px
  }
}

@mixin custom-btn {
  align-self: flex-end;
  margin-top: 3rem;
  text-decoration: none;
  color: white;
  background-color: $secondary-color;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  border: none;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($secondary-color, 10%);
  }
}
