@import "variables";
@import "mixin";
.custom-navigation {
  font-size: 1.6rem;
  background-color: $primary-color;
  height: 15vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  &__checkbox {
    display: none;
  }
  &__logo-2 {
    display: none;
  }
  &__logo,
  &__logo-2 {
    width: 5em;
    margin-right: 2%;
    cursor: pointer;
    text-align: center;
    transition: all 1.2s ease;
    perspective: 100rem;
    @include respond(tab-port) {
      display: block;
      position: absolute;
      top: 20px;
      left: 30px;
    }

    &:hover {
      transform: rotateY(360deg);
    }
    &:active {
      transform: scale(0.55);
      opacity: 0;
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    span {
      font-size: 1rem;
      @include respond(tab-port) {
        font-size: 1.3rem;
      }
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
  &__logo {
    @include respond(phone) {
      filter: invert(1);
    }
  }
  &__button {
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2000;
    cursor: pointer;
    text-align: center;
    display: none;
    @include respond(tab-port) {
      display: block;
    }
  }
  &__background {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 1000;
    transition: all 0.6s cubic-bezier(0.92, 0.22, 0.93, -0.05);
    display: none;
    @include respond(tab-port) {
      display: block;
      position: fixed;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1500;
    width: 90%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in;
  
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: flex-end;
      height: 100vh;
      visibility: hidden;
      opacity: 0;
      width: 0;
      background-color: $primary-color;
    }
    @include respond(phone) {
      position: fixed;
      background-color: $tertial-color;
    }
  }
  &__list {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    @include respond(tab-port) {
      flex-direction: column;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include respond(phone) {
      text-align: left;
    }
  }
  &__item {
    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 3rem;
    }
  }
  &__form {
    background-color: red;
    border-radius: 0.5rem;
    flex: 0 0 auto;
    transition: all 0.3s ease-in-out;
    @include respond(tab-port) {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    @include respond(phone) {
      top: 45%;
      font-size: 3rem;
      left: 31%;
    }
    @include respond(small-phone) {
      top: 50%;
      font-size: 2rem;
      left: 26%;
    }
    & > a {
      display: block;
      white-space: nowrap;
      padding: 1.5rem 2rem;
      color: white;
      text-decoration: none;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
    &:hover {
      background-color: rgb(206, 7, 7);
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-weight: bold;
      color: black;
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      text-decoration: none;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        rgb(255, 0, 0) 50%
      );
      transition: all 0.4s;
      background-size: 220%;
      @include respond(tab-land) {
        background-size: 230%;
      }
      @include respond(phone) {
        color: white;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: white;
      transform: translateX(10px);
    }
  }
  //   funcionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
    @include respond (tab-port){
      background-image: radial-gradient($primary-color,$primary-color);
    }

    @include respond(phone) {
      background-image: radial-gradient(
        $tertial-color,
        darken($tertial-color, 10%)
      );
    }
  }
  &__checkbox:checked ~ &__nav {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    transform: rotate(-180deg);
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.2rem;
      background-color: rgb(121, 121, 121);
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.5s ease-in-out;
    }
    &::before {
      top: -0.8rem;
      width: 2rem;
    }
    &::after {
      top: 0.8rem;
      width: 4rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
    width: 4rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
    width: 4rem;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
