.popup {
  height: 85vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  // background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  font-size: 2rem;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__close {
    &:link,
    &:visited {
      color: darkslategrey;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      font-weight: bold;
    }
    &:hover {
      color: rgb(255, 0, 0);
    }
  }
  &__item {
    grid-column: span 2;
    h2 {
      font-size: 5rem;
    }
    @include respond(phone) {
      grid-column: 1/2;
    }
  }
  &__content {
    height: 100%;
    width: 100%;
    background-color: $primary-color;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 0.5rem;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  &__form {
    height: 70vh;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: flex-start;
    align-content: center;
    @include respond(tab-port) {
      width: 90%;
    }
    input,
    button,
    select,
    option,
    a {
      border-radius: 0.5rem;
      font-size: 2rem;
      height: 5rem;
    }
    label {
      font-weight: bold;
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
      width: 80%;
    }
  }

  &__foot {
    background-color: $tertial-color;
    text-align: center;
    color: white;
    padding: 2rem 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    span {
      color: $secondary-color;
    }
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid grey;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
.form-group{
    align-self: end;
}
